* {
    padding: 0%;
    margin: 0%;

}


#main_div {
    background-image: url(https://images2.alphacoders.com/238/238870.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;   
    height: 100vh;
}

#left_text {
    width: 40%;
    color: whitesmoke;
   
}

#welcome{
    font-size: 25px;
}
#left_text h2  {
    font-size: 20px;
    margin-top: 40%;
    margin-left: 15%;
    text-align: center;
    background-color: rgba(163, 163, 163, 0.007);
}
#left_text p{
    margin-left: 15%;
    text-align: center;
    font-weight: 500;
    margin-top: 3%;
    background-color: rgba(156, 148, 148, 0.137);
    
}

span {
    font-size: 45px;
    text-align: left;
}

#right h1 {
    color: whitesmoke;
    margin-bottom: 15px;
    padding-top: 20px;
}

#right {
    margin-left: 10%;
    width: 60%;
    background-color: rgba(201, 201, 202, 0.192);
}

#form {
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#right input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    width: 80%;
    outline: none;
}

#right p{
    margin-left: 45%;
    font-weight: 700;
    margin-bottom: 20px;

}
#right p a{
    color: white;
    
}
#right label {
    color: white;
    margin-bottom: 5px;
}

.button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    width: 85%;
}